{% extends 'base.html' %}

{% block title %}List of Line Sheets - Line Sheet Manager{% endblock %}

{% block header_title %}List of Line Sheets{% endblock %}

{% block header_actions %}
<a href="/" class="bg-gray-500 text-white px-4 py-2 rounded-lg">Back to Home</a>
{% endblock %}

{% block content %}
<ul>
    {% for line_sheet in line_sheets %}
    <li class="mb-2">
        <a href="{{ url_for('view_line_sheet', filename=line_sheet[2]) }}" class="text-blue-500 hover:underline">{{ line_sheet[1] }} ({{ line_sheet[3] }})</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
